build
.claude
.DS_Store
.env
.env.*
!.env.example
!.env.test
.netlify
node_modules
.output
/.svelte-kit
THIRD-PARTY-LICENSES.txt
Thumbs.db
upload.sh
.vercel
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.wrangler
